.coverblack {
  position: relative;

  background-color: black;
  .mainWhole {
    background-color: black;
    width: 1400px;
    height: 1000px;
    margin: auto;
    .mainTitle {
      display: flex;
      justify-content: space-between;
      padding-left: 100px;
      padding-top: 100px;
      text-align: center;
      .boxOffice {
        margin-left: 40px;
        padding-bottom: 3px;
        border-bottom: 1px solid gray;
        font-size: 21px;
        color: white;
      }
      .elseMovie {
        font-size: 20px;
        padding-right: 4px;
        color: gray;
        .plus {
          margin-left: 5px;
        }
      }
    }
    .moviecards {
      display: flex;
      .moviecard1 {
        margin-left: 50px;
      }
    }
  }
}
