@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userinfoContainer {
  margin-bottom: 80px;
  margin-left: 50px;
  @include flexcenter();
  flex-direction: column;
  .userinfomessage {
    font-size: 0.9em;
    font-weight: 700;
    margin-right: 60px;
    margin-bottom: 5px;
  }
  .userInfoMain {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  table {
    border-collapse: collapse;
    border-top: 1px solid #444;
    font-size: 0.9em;
    tr {
      box-sizing: border-box;
      border-bottom: 1px solid #d1d5dd;
      th {
        box-sizing: border-box;
        width: 130px;
        height: 50px;
        background-color: #f7f8f9;
        text-align: start;
        padding-left: 20px;
      }
      td {
        box-sizing: border-box;
        width: 380px;
        height: 50px;
        padding: 10px;
        & input {
          box-sizing: border-box;
          width: 230px;
          height: 30px;
          border: 1px solid #d8d9db;
          text-indent: 10px;
        }
        & input:focus {
          outline: none;
        }

        .passFindTimer {
          box-sizing: border-box;
          width: 50px;
          height: 34px;
          line-height: 25px;
          text-align: center;
          color: #e81002;
          border: 1px solid #d8d9db;
          border-left: none;
        }

        .warning {
          margin-top: 5px;
          color: #e81002;
        }

        .warningOn {
          display: block;
        }
        .warningOff {
          display: none;
        }

        .onCertification {
          width: 75px;
          height: 32px;
          margin-left: 10px;
          border-radius: 5px;
          color: #fff;
          border: none;
          background-color: #666;
          font-size: 0.95em;
          cursor: pointer;
        }

        .getNumBtn {
          width: 75px;
          height: 32px;
          margin-left: 10px;
          border-radius: 5px;
          color: #777;
          border: none;
          background-color: #e0e0e0;
          font-size: 0.95em;
        }
        .checkOkBtn {
          width: 75px;
          height: 32px;
          margin-left: 10px;
          border-radius: 5px;
          color: #444;
          border: 1px solid #c1c1c1;
          background-color: #fff;
          font-size: 0.95em;
          cursor: pointer;
        }
      }
      .certificationTd {
        display: flex;
        .certificationInput {
          width: 180px;
          height: 34px;
          border-right: none;
          box-sizing: border-box;
        }
      }
    }
  }
  .goChangeInfoBtn {
    width: 200px;
    height: 46px;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    background-color: #42326b;
    margin-top: 50px;
    cursor: pointer;
  }
  .findPassBtn {
    width: 200px;
    height: 46px;
    color: #777;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    background-color: #e0e0e0;
    margin-top: 50px;
  }

  .myInfoBtns {
    margin-top: 80px;
    .goToMyPage {
      width: 85px;
      height: 42px;
      margin-right: 5px;
      color: #503396;
      border: 1px solid #503396;
      background-color: #fff;
      border-radius: 3px;
      cursor: pointer;
    }

    .goToMyPage:hover {
      background-color: #eeeeee;
    }

    .disConfirm {
      width: 85px;
      height: 42px;
      border: none;
      color: #777;
      background-color: #e0e0e0;
      border-radius: 3px;
    }
  }
}
