.position {
  height: 380px;
  width: 1800px;
  background-color: rgb(2 123 148);
  position: absolute;
  z-index: 200;
  .wholeContainer {
    margin: auto;
    width: 1400px;
    height: 100%;
    display: flex;
    .twoContainer {
      padding-right: 30px;
      margin-bottom: 50px;

      margin-top: 60px;
      p,
      span,
      button {
        color: white;
      }
      .hello {
        font-size: 21px;
        margin-bottom: 17px;
      }
      .member1 {
        margin-bottom: 12px;
      }
      .name {
        font-size: 24px;
      }
      .date {
        margin-bottom: 100px;
      }
      .btn {
        cursor: pointer;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        border: 1.5px solid white;
        background-color: rgb(2 123 148);
        font-size: 18px;
        width: 150px;
        height: 47px;
        margin-top: 25px;
        margin-bottom: 60px;
      }
    }
    .flex {
      display: flex;
      border-left: 1px rgb(61 149 169) solid;

      span {
        text-align: center;
        display: block;
        margin-bottom: 42px;
      }
      .component {
        padding-left: 90px;
        .title {
          margin-top: 24px;
          font-size: 21px;
          margin-bottom: 50px;
        }
        .content {
          font-size: 56px;
        }
        .btn2 {
          .btn60 {
            margin-left: 7px;
            width: 100px;
          }
        }
        .btn10 {
          margin-left: 30px;
        }
        .content1 {
          margin-bottom: 70px;
          font-size: 28px;
        }
        .gun {
          display: inline;
          font-size: 25px;
        }
      }
    }
  }
}
