.mainUnderBarWhole {
  display: flex;
  background-color: black;
  margin: auto;
  margin-top: 40px;
  width: 1100px;
  height: 100px;
  align-items: center;
  .searchIcon {
    cursor: pointer;
    position: absolute;
    // left: 450px;
    // top: 13px;
    color: gray;
    width: 15px;
    height: 15px;
  }
  .searchBar {
    position: relative;

    input {
      margin-left: 30px;
      height: 40px;
      width: 220px;
      font-size: 16px;
      color: white;
      border: none;
      border-bottom: 1.5px solid white;
      background-color: black;

      &::placeholder {
        color: gray;
        font-size: 16px;
      }
      &:focus {
        outline: none;
      }
    }
    .searchIcon {
      position: absolute;
      right: 30px;
      width: 27px;
      height: 27px;
    }
  }
  .boxes {
    align-items: center;
    height: 60%;
    display: flex;
    width: 100%;
    border: 1px solid black;

    .title {
      color: white;
      margin-left: 10px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .icon {
      color: white;
      padding-left: 100px;
      width: 33px;
      height: 33px;
    }
  }
}
