.container {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;

  .seatSelection {
    background-color: yellow;
    border-top: 1px solid #4e4e4e;
    width: 770px;
    height: 556px;
    text-align: center;
    .m_title {
      background-color: white;
      height: 47px;
      display: flex;
      justify-content: space-between;

      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 47px;
        vertical-align: middle;
        font-weight: 100;
        display: inline-block;
      }

      button {
        width: 70px;
        height: 30px;
        vertical-align: middle;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 4px;
        padding: 5 20px;
        margin-top: 10px;
        font-size: 15px;
        color: #4e4e4e;
      }
    }
  }
  .SelectPeople {
    height: 53px;
    background-color: aqua;
  }
  .Select {
    width: 770px;
    text-align: center;
    margin-top: 38px;
  }
  .seatResult {
    box-sizing: border-box;
    padding: 15px 20px 0 0;
    width: 310px;
    height: 556px;
    background-color: #333333;
    margin-left: 20px;
    border-radius: 12px;
  }
  .SelectSeat {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    .seat {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: blue;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
}
