.container {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;

  .seatSelection {
    background-color: white;
    border-top: 1px solid #cecece;
    width: 770px;
    height: 556px;
    text-align: center;
    .m_title {
      background-color: white;
      height: 47px;
      display: flex;
      justify-content: space-between;

      h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 47px;
        vertical-align: middle;
        font-weight: 100;
        display: inline-block;
      }

      button {
        width: 70px;
        height: 30px;
        vertical-align: middle;
        border: 1px solid rgb(173, 173, 173);
        border-radius: 4px;
        padding: 5 20px;
        margin-top: 10px;
        font-size: 15px;
        color: #4e4e4e;
        cursor: pointer;
      }
    }
  }
  .selectDisplay {
    border: 1px solid #cecece;
  }
  .SelectPeople {
    text-align: left !important;
    height: 53px;
    background-color: #f1f4f5;
    p {
      display: inline-block;
      padding-right: 10px;
    }
    .cell {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 10px;
    }
  }
  .Select {
    width: 770px;
    text-align: center;
    margin-top: 38px;
  }
  .seatResult {
    flex-grow: 0;
    box-sizing: border-box;
    flex-grow: 0;
    width: 310px;
    height: 556px;
    background-color: #333333;
    margin-left: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 15px 0px 0px 0px;

    .tit_area {
      padding-left: 10px;
      color: white;
      height: 48.89px;
      border-bottom: 1px solid #434343;
    }
    .info_area {
      color: #9c9c9c;
      padding-top: 10px;
      padding-left: 10px;
      height: 121px;
      border-bottom: 1px solid #434343;
      position: relative;
      img {
        width: 70px;
        height: 100px;
        position: absolute;
        top: 0;
        margin-left: 210px;
        margin-top: 10px;
      }
      .s_time {
        margin-top: 40px;
      }
    }
    .choice_area {
      height: 230px;
      border-bottom: 1px solid #434343;

      .w_seat {
        width: 280px;
        height: 200px;
        border: solid 1px #868686;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 4px;

        .seatImg {
          display: inline-block;
          border-right: solid 1px #868686;
          box-sizing: border-box;
          width: 151px;
          height: 100%;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding: 27px;
          img {
            margin-top: 20px;
          }
          p {
            font-size: 14px;
            color: #bebebe;
          }
        }
        .selectedSeat {
          box-sizing: border-box;
          display: inline-block;
          width: 129px;
          height: 100%;
          padding: 25px;
          float: right;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          .eachSeat {
            box-sizing: border-box;
            width: 30px;
            height: 30px;
            display: inline-block;
            background-color: #cbcbcb;
            margin-left: 8px;
            margin-bottom: 3px;
            margin-top: 5px;
            padding: 5px 7px;
            line-height: unset;
            vertical-align: middle;
          }
        }
      }
    }
    .child_area {
      padding-top: 5px;
      padding-left: 15px;
      color: rgb(208, 208, 208);
      padding-bottom: 10px;
      font-size: 14px;
    }
    .adult_area {
      padding-top: 5px;
      padding-left: 15px;
      color: rgb(208, 208, 208);
      padding-bottom: 10px;
      font-size: 14px;
    }
    .pay_area {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      color: white;
      padding: 10px 10px 0px 10px;
      height: 44px;

      border-bottom: 1px solid #434343;
      line-height: 44px;
      vertical-align: center;
      .price {
        font-size: 15px;
        .money {
          font-size: 24px;
          padding-right: 5px;
          color: #59bec9;
        }
      }
    }
    .btn_group {
      height: 40px;

      .before {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        color: white !important;
        background-color: #434343;
        border: none;
        outline: none;
        width: 50%;
        height: 41px;
        border-bottom-left-radius: 7px;
      }
      .submit {
        cursor: pointer;
        font-weight: 500;
        font-size: 18px;
        color: #aaaaaa !important;
        border: none;
        outline: none;
        width: 50%;
        height: 41px;
        border-bottom-right-radius: 7px;
      }
    }
  }

  .SelectSeat {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 151px;

    .seat {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: gray;
      margin-left: 10px;
      margin-top: 10px;
      cursor: pointer;
      &.sell {
        background-color: #eb9595;
      }
      button {
        width: 40px;
        cursor: pointer;
        height: 40px;
        background-color: transparent;
        border: none;
        line-height: 40px;
        vertical-align: center;
        font-size: 15px;
      }
      .s_seat {
        &.empty {
          background-color: #bbbbbb;
          color: #979797;
          cursor: default;
        }
      }
    }
  }
  .Selectbtn {
    border: 1px solid #cecece;
    display: inline;
    height: 32px;
    display: inline-block;
    border-radius: 7px;
    button {
      cursor: pointer;
      height: 32px;
      width: 32px;
      background-color: white;
      border: none;
    }
    .left {
      cursor: pointer;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      cursor: pointer;
    }
    .right {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      cursor: pointer;
    }
    .prtNum {
      border-left: #cecece solid 1px;
      border-right: #cecece solid 1px;
      width: 42px;
    }
  }
}
