.main {
  width: 840px;

  .title {
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 25px 0;
  }

  .booking {
    display: flex;

    .bookingBtn {
      width: 166px;
      height: 36px;
      border: solid black 1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .filterDiv {
    display: flex;
    align-items: center;
    width: 840px;
    height: 56px;
    margin: 20px 0;
    background-color: rgb(232, 232, 232);
    border-top: solid 1px rgb(216, 216, 216);
    border-bottom: solid 1px rgb(216, 216, 216);

    .filterDivTitle {
      font-size: 16px;
      font-weight: 600;
      margin: 0 30px;
    }
  }

  .bookingDone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 840px;
    height: 200px;
    border-top: solid 1px rgb(216, 216, 216);
    border-bottom: solid 1px rgb(216, 216, 216);
    margin: 10px 0;
  }
}
