.cidebarMain {
  width: 200px;
  border: 1.5px solid rgba(128, 128, 128, 0.195);
  border-radius: 15px;

  .titleDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(65, 65, 65);
    width: 200px;
    height: 90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .middleDiv {
    display: flex;
    align-items: center;
    background-color: rgb(242, 242, 242);
    height: 40px;
    width: 200px;
    border-top: rgba(128, 128, 128, 0.101) 1px solid;
    border-bottom: rgba(128, 128, 128, 0.127) 1px solid;

    .middleSpan {
      margin-left: 8px;
      color: #222222;
      &:hover {
        color: rgb(81, 135, 180);
      }
    }

    cursor: pointer;
  }

  .whiteDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .whiteDivMargin {
      margin: 20px 0;
      .whiteCell {
        margin: 5px 8px;
        color: rgb(102, 102, 102);
        &:hover {
          color: rgb(81, 135, 180);
        }
        cursor: pointer;
      }
    }
  }
}
