@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.passFindWrap {
  @include flexcenter();
  flex-direction: column;
  width: 510px;
  height: 480px;
  table {
    border-collapse: collapse;
    border-top: 1px solid #444;
    font-size: 0.9em;
    tr {
      border-bottom: 1px solid #d1d5dd;
      th {
        width: 130px;
        height: 50px;
        background-color: #f7f8f9;
        text-align: start;
        padding-left: 20px;
      }
      td {
        width: 380px;
        height: 50px;
        padding: 10px;
        & input {
          width: 230px;
          height: 30px;
          border: 1px solid #d8d9db;
          text-indent: 10px;
        }
        & input:focus {
          outline: none;
        }

        .passFindTimer {
          width: 50px;
          height: 34px;
          line-height: 25px;
          text-align: center;
          color: #e81002;
          border: 1px solid #d8d9db;
          border-left: none;
        }

        .warning {
          margin-top: 5px;
          color: #e81002;
        }

        .warningOn {
          display: block;
        }
        .warningOff {
          display: none;
        }

        .onCertification {
          width: 75px;
          height: 32px;
          margin-left: 10px;
          border-radius: 5px;
          color: #fff;
          border: none;
          background-color: #666;
          font-size: 0.95em;
          cursor: pointer;
        }

        .getNumBtn {
          width: 75px;
          height: 32px;
          margin-left: 10px;
          border-radius: 5px;
          color: #777;
          border: none;
          background-color: #e0e0e0;
          font-size: 0.95em;
        }
      }
      .certificationTd {
        display: flex;
        .certificationInput {
          width: 180px;
          height: 34px;
          border-right: none;
        }
      }
    }
  }
  .findPassBtn {
    width: 200px;
    height: 46px;
    color: #777;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
    background-color: #e0e0e0;
    margin-top: 50px;
  }
}
