// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
.headerContainer {
  position: relative;

  background-color: black;
  border-bottom: 0.5px solid #888;
}
.header {
  background-color: black;
  margin: auto;
  width: 1100px;
  font-family: 'Noto Sans KR', sans-serif;

  .subNavbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    span {
      padding-top: 18px;
      font-size: 13px;
      color: #888;
      float: left;
      margin-right: 19px;
    }
  }
  .mainWholeBar {
    position: relative;
    display: flex;
    //justify-content: space-between;
    .mainMenuBarColumn {
      display: flex;
      justify-content: space-between;
    }
    .mainMenuBar {
      display: flex;
      .menuMargin1 {
        padding-bottom: 18px;
        margin-right: 80px;
      }
      .menuMargin2 {
        padding-bottom: 18px;
        margin-right: 57px;
      }
      .menuMargin3 {
        padding-bottom: 18px;
        margin-right: 280px;
      }
      .linkToWhere {
        font-size: 18px;
        text-decoration-line: none;
        color: rgb(214 213 214);
        .closeIcon {
          cursor: pointer;
          color: rgb(214 213 214);
          margin-top: 0px;
          margin-left: 16px;
          width: 22px;
          height: 22px;
        }
        .headerIcon {
          cursor: pointer;
          margin-left: 16px;
          width: 22px;
          height: 22px;
        }
        img {
          top: -30px;
          left: 470px;
          position: absolute;
          display: block;
          width: 170px;
          height: 64px;
          margin: 0;
          padding: 0;
          font-size: 0;
          line-height: 0;
        }
      }
    }
  }
}
.position {
  position: relative;
}
.padding {
  height: 27px;
  padding-bottom: 16px;
}
