.cardWhole {
  position: relative;
  margin-right: 40px;
  .cardNumber {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-style: italic;
    left: 20px;
    top: 50px;
    position: absolute;
    color: black;
    font-size: 40px;
  }
  img {
    margin-top: 32px;
    width: 240px;
    height: 344px;
  }

  img {
    border-radius: 10px;
  }
  .underImg {
    margin-top: 10px;
    width: 240px;
    display: flex;
    align-items: center;
    .movieLike {
      position: relative;
      font-size: 14px;
      margin-right: 5px;
      height: 32px;
      width: 35%;
      border-radius: 3px;
      border: 1px solid gray;
      color: black;
      span {
        top: 10px;
        position: absolute;
        left: 40px;
      }
      .heart {
        position: absolute;
        top: 1px;
        left: 0px;
        margin-left: 13px;

        padding-top: 5px;
        width: 20px;
        height: 20px;
        padding-right: 5px;
      }
    }

    .reservation {
      position: relative;
      width: 65%;
      font-size: 16px;
      //padding-top: 10px;
      text-align: center;
      background-color: rgb(2 123 148);
      text-decoration: none;
      height: 32px;

      border-radius: 3px;
      color: black;
      span {
        left: 63px;
        font-size: 15px;
        position: absolute;
        top: 10px;
      }
    }
  }
}
