.component {
  &:hover {
    background-color: #e5e4e4;
  }
  cursor: pointer;
  border-top: solid 1px rgb(190, 190, 190);
  box-sizing: border-box;
  display: flex;
  vertical-align: center;
  .time {
    padding: 10px;
    display: inline-block;
    width: 90px;
    font-size: 20px;
    vertical-align: center;
    span {
      display: block;
      font-size: 13px;
      color: #000000;
    }
  }
  .title {
    padding-top: 5px;
    span {
      padding-left: 0px !important;
      font-size: 15px !important;
    }
    text-align: left;
    display: inline-block;
    width: 275px;
    .property {
      font-size: 13px !important;
      padding-left: 0px !important;
      padding-bottom: 5px;
    }
  }
  .seats {
    padding-right: 5px;
    text-align: right;
    display: flex;
    flex-direction: column !important;
    justify-items: center;
    .location {
      padding-top: 10px;
      font-size: 13px !important;
      display: block;
    }
    .screen {
      font-size: 13px !important;
      line-height: 15px !important;
      display: block;
    }
    .seat {
      margin-top: 3px;
      margin-bottom: 7px;
      padding: 1.5px 9px;
      border: 1px solid #f0f0f0;
      font-size: 13px !important;
      display: inline-block;
      line-height: 15px !important;
      color: #01736b;
      p {
        display: inline-block;
        height: 10px;
      }
      .allSeat {
        color: #a2a2a2;
      }
    }
    display: inline-block;
    width: 109px;
  }
}
