.position {
  .wholeIntroduce {
    margin: auto;
    width: 1400px;
    height: 700px;
    .title {
      margin: 70px 0;
      font-size: 40px;
      color: rgb(54 31 103);
    }
    .imgContainer {
      display: flex;
      img {
        filter: grayscale(100%);
        border-radius: 30px;
        padding-left: 20px;
        width: 210px;
        height: 210px;
        margin-bottom: 60px;
        &:hover {
          filter: grayscale(0%);
        }
      }
    }
    .notice {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      display: flex;
      padding: 20px 0;
      .name {
        border-right: 1px solid gray;
        padding-right: 25px;
        font-size: 20px;
      }
      .noticeContent {
        display: flex;

        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        border-right: 1px solid gray;
        .noticeTitle {
          margin-right: 800px;
          .special {
            padding-right: 10px;
            font-weight: 600;
            color: rgb(44, 133, 149);
          }
        }
      }
      .plus {
        padding-left: 20px;
      }
    }
    .iconContainer {
      .icon {
        margin-top: 40px;
        img {
          width: 1400px;
        }
      }
    }
    .iconName {
      margin-top: 10px;
      span {
        font-size: 20px;
      }
      .span {
        margin-right: 155px;
      }
      .span2 {
        margin-right: 75px;
      }
    }
  }
}
