.undermenu {
  position: absolute;
  z-index: 100;
  left: -2000px;
  top: 44px;
  padding-top: 13px;
  width: 4000px;
  margin: auto;
  height: 36px;
  background-color: rgb(52 163 183);
  span {
    color: white;
    margin-right: 13px;
    text-align: center;
    font-size: 15px;
    &:first-child {
      margin-left: 300px;
    }
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
